/* Corrections made to MUI to correct drawers */

/* Assigns correct font size to "WIZyWIG" in AboutDrawer */
.MuiTypography-root.css-2ulfj5-MuiTypography-root {
    font-size: 2em;
}
/* Color corrects the AboutDrawer */
.MuiPaper-root.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
    background-color: #333;
    color: white;
}
/* Color corrects the Icons in all drawers */
.MuiListItemIcon-root.css-cveggr-MuiListItemIcon-root {
    color: inherit;
}
.MuiSvgIcon-root.css-i4bv87-MuiSvgIcon-root {
    color: white;
}
/* Color corrects the CompDrawer */
.MuiPaper-root.css-18sg6k4-MuiPaper-root-MuiDrawer-paper {
    background-color: #333;
    color: inherit;
}
/* Corrects the width of the CompDrawer so it doesn't cover the AboutDrawer */
.MuiPaper-root.css-f6dazs-MuiPaper-root-MuiAppBar-root {
    width: 20%;
}
.MuiPaper-root.css-15p6khp-MuiPaper-root-MuiAppBar-root {
    width: 20%;
}

/* Buttons on Composition Drawer */
#theme-button-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 125px 125px;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px
}

.theme-button {
    height: 50px;
    border: 2px solid black;
    border-radius: 10px;
}

.theme-button:hover {
    box-shadow: 0 0 15px 10px rgba(255, 255, 255, .75);
}

#random-theme-container {
    display: grid;
    padding: 0 15px;
}
